---
import Canvas from '../canvas';

const canvas = new Canvas(Astro);
---

<!doctype html>
<html lang="en">
	<body>
		<h1>Test: User Info</h1>
		<pre>{JSON.stringify(await canvas.getUser(), null, 4)}</pre>
	</body>
</html>
