---
import Canvas from '../canvas';

/*
 * Note: because we're testing server-side code, we set `output: "server"` in `astro.config.mjs`.
 * On our main site, it's faster to keep `output: "static"` and only enable server-side code when needed:
 * 
 * export const prerender = false;
*/

const canvas = new Canvas(Astro);
---

<!doctype html>
<html lang="en">
	<body>
		<h1>Test: User Info</h1>
		<pre>{JSON.stringify(await canvas.getUser(), null, 4)}</pre>
	</body>
</html>
